/*hamburgarmenyn*/

/* MENU STYLES */
.menu-wrap {
	position: fixed;
	top: 0;
	left: 0;
	z-index: 1;
  }
  
  .menu-wrap .toggler {
	position: absolute;
	top: 0;
	left: 0;
	z-index: 2;
	cursor: pointer;
	width: 60px;
	height: 60px;
	opacity: 0;
  }
  
  .menu-wrap .hamburger {
	position: absolute;
	top: 0;
	left: 0;
	z-index: 1;
	width: 40px;
	height: 40px;
	padding: 1rem;
	background: var(--primary-color);
	display: flex;
	align-items: center;
	justify-content: center;
  }
  
  /* Hamburger Line Middle*/
  .menu-wrap .hamburger > div {
	position: relative;
	flex: none;
	width: 100%;
	height: 2px;
	background: black; 
	display: flex;
	align-items: center;
	justify-content: center;
	transition: all 0.4s ease;
  }
  
  /* Hamburger Lines Top & Bottom */
  .menu-wrap .hamburger > div::before,
  .menu-wrap .hamburger > div::after {
	content: '';
	position: absolute;
	z-index: 1;
	top: -10px;
	width: 100%;
	height: 2px;
	background: inherit;
  }
  
  /* Moves Line Down */
  .menu-wrap .hamburger > div::after {
	top: 10px;
  }
  
  /* Toggler Animation */
  .menu-wrap .toggler:checked + .hamburger > div {
	transform: rotate(135deg);
  }
  
  /* Turns Lines Into X */
  .menu-wrap .toggler:checked + .hamburger > div:before,
  .menu-wrap .toggler:checked + .hamburger > div:after {
	top: 0;
	transform: rotate(90deg);
  }
  
  /* Rotate On Hover When Checked */
  .menu-wrap .toggler:checked:hover + .hamburger > div {
	transform: rotate(225deg);
  }
  
  /* Show Menu */
  .menu-wrap .toggler:checked ~ .menu {
	visibility: visible;
  }
  
  .menu-wrap .toggler:checked ~ .menu > div {
	transform: scale(1);
	transition-duration: var(--menu-speed);
  }
  
  .menu-wrap .toggler:checked ~ .menu > div > div {
	opacity: 1;
	transition:  opacity 0.4s ease 0.4s;
  }
  
  .menu-wrap .menu {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	visibility: hidden;
	overflow: hidden;
	display: flex;
	align-items: center;
	justify-content: center;
  }
  
  .menu-wrap .menu > div {
	background: white;
	border-radius: 50%;
	width: 200vw;
	height: 200vw;
	display: flex;
	flex: none;
	align-items: center;
	justify-content: center;
	transform: scale(0);
	transition: all 0.2s ease;
  }
  
  .menu-wrap .menu > div > div {
	text-align: center;
	max-width: 90vw;
	max-height: 100vh;
	opacity: 0;
	transition: opacity 0.2s ease;
  }
  
  .menu-wrap .menu > div > div > ul > li {
	list-style: none;
	color: black;
	font-size: 1.5rem;
	padding: 1rem;
  }
  
  .menu-wrap .menu > div > div > ul > li > a {
	color: black;
	text-decoration: none;
	transition: color 0.4s ease;
  }

/*HÄR BÖRJAR SJÄLVA HEMSIDAN*/

menu {
    font-weight: lighter;
	text-align: center;
	line-height: 14px;
	padding-bottom:100px;
}

.ellen {
    text-decoration: none;
}

.ellen h1 {
    color:lightgrey;
    size: 30px;
}

.ellen h2 {
    color: lightgrey;
	size: 20px;
}

:root{
	--main-radius:2px;
	--main-padding:2px;
  }
	
.container {
	display:grid;
	height:100vh;
	grid-template-columns:1fr 1fr 1fr 1fr;
	grid-template-rows: 0.1fr 0.1fr 0.1fr;
	grid-template-areas:
	  "content1 tom1 tom2 tom3"
	  "content2 content3 content4 content5"
	  "tom4 content6 content7 content8";
	grid-gap:0.5rem;
	border-radius:var(--main-radius);
	padding-top:var(--main-padding);
	text-align:center;
	margin:0% 20% 0% 20%;
  }

.container img{
	height:80px;
	width:80px;
	border-radius:50%;
  }
  
  #tom1 {
	grid-area:tom1;
	 border-radius:var(--main-radius);
	  padding-top:var(--main-padding);
  }
  
  #tom2 {
	grid-area:tom2;
	 border-radius:var(--main-radius);
	  padding-top:var(--main-padding);
  }
  
  #tom3 {
	grid-area:tom3;
	 border-radius:var(--main-radius);
	  padding-top:var(--main-padding);
  }
  
  #tom4 {
	grid-area:tom4;
	border-radius:var(--main-radius);
	padding-top:var(--main-padding);
  }
  
  #content1 {
	grid-area:content1;
	border-radius:var(--main-radius);
	padding-top:var(--main-padding);
  }
  #content2 {
	grid-area:content2;
	border-radius:var(--main-radius);
	padding-top:var(--main-padding);
  }
  #content3 {
	grid-area:content3;
	border-radius:var(--main-radius);
	padding-top:var(--main-padding);
  }
  #content4 {
	grid-area:content4;
	border-radius:var(--main-radius);
	padding-top:var(--main-padding);
  }
  #content5 {
	grid-area:content5;
	border-radius:var(--main-radius);
	padding-top:var(--main-padding);
  }
  #content6 {
	grid-area:content6;
	border-radius:var(--main-radius);
	padding-top:var(--main-padding);
  }
  #content7 {
	grid-area:content7;
	border-radius:var(--main-radius);
	padding-top:var(--main-padding);
  }
  #content8 {
	grid-area:content8;
	border-radius:var(--main-radius);
	padding-top:var(--main-padding);
  }
  
  @media only screen and (max-width:550px) {
	.container {
	  grid-template-columns:1fr;
	  grid-template-rows:0.4fr 0.4fr 0.4fr 0.4fr 0.4fr 0.4fr 0.4fr 0.4fr 0.4fr;
	  grid-template-areas:
		"content1"
		"content2"
		"content3"
		"content6"
		"content4"
		"content7"
		"content5"
		"content8";
	}
	img#kaffe {
		visibility: hidden;
	}
  }
  

  .gridone img, .gridtwo img, .gridthree img {
        height:80px;
        width:80px;
        border-radius:50%;
    }

  a {
    text-decoration: none;
    color:black;
  }

  h3 {
      font-size: 20px;
      font-style: italic;
  }

  h4 {
      font-size: 15px;
      font-weight: lighter;
      font-style: italic;
      text-decoration: none;
  }


