/*hamburgarmenyn*/

/* MENU STYLES */
.menu-wrap {
	position: fixed;
	top: 0;
	left: 0;
	z-index: 1;
  }
  
  .menu-wrap .toggler {
	position: absolute;
	top: 0;
	left: 0;
	z-index: 2;
	cursor: pointer;
	width: 60px;
	height: 60px;
	opacity: 0;
  }
  
  .menu-wrap .hamburger {
	position: absolute;
	top: 0;
	left: 0;
	z-index: 1;
	width: 40px;
	height: 40px;
	padding: 1rem;
	background: var(--primary-color);
	display: flex;
	align-items: center;
	justify-content: center;
  }
  
  /* Hamburger Line*/
  .menu-wrap .hamburger > div {
	position: relative;
	flex: none;
	width: 100%;
	height: 2px;
	background: black; 
	display: flex;
	align-items: center;
	justify-content: center;
	transition: all 0.4s ease;
  }
  
  /* Hamburger Lines Top & Bottom */
  .menu-wrap .hamburger > div::before,
  .menu-wrap .hamburger > div::after {
	content: '';
	position: absolute;
	z-index: 1;
	top: -10px;
	width: 100%;
	height: 2px;
	background: inherit;
  }
  
  /* Moves Line Down */
  .menu-wrap .hamburger > div::after {
	top: 10px;
  }
  
  /* Toggler Animation */
  .menu-wrap .toggler:checked + .hamburger > div {
	transform: rotate(135deg);
  }
  
  /* Turns Lines Into X */
  .menu-wrap .toggler:checked + .hamburger > div:before,
  .menu-wrap .toggler:checked + .hamburger > div:after {
	top: 0;
	transform: rotate(90deg);
  }
  
  /* Rotate On Hover When Checked */
  .menu-wrap .toggler:checked:hover + .hamburger > div {
	transform: rotate(225deg);
  }
  
  /* Show Menu */
  .menu-wrap .toggler:checked ~ .menu {
	visibility: visible;
  }
  
  .menu-wrap .toggler:checked ~ .menu > div {
	transform: scale(1);
	transition-duration: var(--menu-speed);
  }
  
  .menu-wrap .toggler:checked ~ .menu > div > div {
	opacity: 1;
	transition:  opacity 0.4s ease 0.4s;
  }
  
  .menu-wrap .menu {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	visibility: hidden;
	overflow: hidden;
	display: flex;
	align-items: center;
	justify-content: center;
  }
  
  .menu-wrap .menu > div {
	background:white;
	border-radius: 50%;
	width: 200vw;
	height: 200vw;
	display: flex;
	flex: none;
	align-items: center;
	justify-content: center;
	transform: scale(0);
	transition: all 0.2s ease;
  }
  
  .menu-wrap .menu > div > div {
	text-align: center;
	max-width: 90vw;
	max-height: 100vh;
	opacity: 0;
	transition: opacity 0.2s ease;
  }
  
  .menu-wrap .menu > div > div > ul > li {
	list-style: none;
	color: black;
	font-size: 1.5rem;
	padding: 1rem;
  }
  
  .menu-wrap .menu > div > div > ul > li > a {
	color: black;
	text-decoration: none;
	transition: color 0.4s ease;
  }

/*här börjar själva hemsidan med det jag gjort*/
menu {
    font-weight: lighter;
	text-align: center;
	line-height: 14px;
}

.ellen {
	display: block;
	text-decoration: none;
	width:100%;
	text-align:center;
	margin-bottom:100px;
}
/*flex-test*/
:root{
	--main-radius:5px;
	--main-padding:5px;
	--main-margin:0% 20% 0% 20%;
  }
  
.container1 {
	display:grid;
	height:65vh;
	grid-template-columns:1fr;
	grid-template-rows: 1fr 1fr 1fr;
	grid-template-areas:
	  "content1"
	  "content2"
	  "content3";
	grid-gap:0.2rem;
	border-radius:var(--main-radius);
	padding:var(--main-padding);
	margin:var(--main-margin);
	text-align:center;
  }
  
.container2 {
	display:grid;
	height:100vh;
	grid-template-columns:0.5fr 1.5fr 1.5fr 0.5fr;
  grid-template-rows: repeat(6,1fr);
  grid-template-areas:
    "tom1 hobby1 hobbybild1 tom2"
    "tom3 hobbybild2 hobby2 tom4"
    "tom5 hobby3 hobbybild3 tom6"
    "tom7 hobbybild4 hobby4 tom8"
    "tom9 hobby5 hobbybild5 tom10"
    "tom11 hobbybild6 hobby6 tom12";
  grid-gap:1rem;
  border-radius:var(--main-radius);
  padding-top:var(--main-padding);
  margin:var(--main-margin);
  text-align: left;
  }
  
.container2 img {
	height:250px;
	width:250px;
	border-radius:50%;
}

#tom1 {
	grid-area:tom1;
	border-radius:var(--main-radius);
	padding-top:var(--main-padding);
}
#tom2 {
	grid-area:tom2;
	border-radius:var(--main-radius);
	padding-top:var(--main-padding);
}
#tom3 {
	grid-area:tom3;
	border-radius:var(--main-radius);
	padding-top:var(--main-padding);
}
#tom4 {
	grid-area:tom4;
	border-radius:var(--main-radius);
	padding-top:var(--main-padding);
}
#tom5 {
	grid-area:tom5;
	border-radius:var(--main-radius);
	padding-top:var(--main-padding);
}
#tom6 {
	grid-area:tom6;
	border-radius:var(--main-radius);
	padding-top:var(--main-padding);
}
#tom7 {
	grid-area:tom7;
	border-radius:var(--main-radius);
	padding-top:var(--main-padding);
}
#tom8 {
	grid-area:tom8;
	border-radius:var(--main-radius);
	padding-top:var(--main-padding);
}
#tom9 {
	grid-area:tom9;
	border-radius:var(--main-radius);
	padding-top:var(--main-padding);
}
#tom10 {
	grid-area:tom10;
	border-radius:var(--main-radius);
	padding-top:var(--main-padding);
}
#tom11 {
	grid-area:tom11;
	border-radius:var(--main-radius);
	padding-top:var(--main-padding);
}
#tom12 {
	grid-area:tom12;
	border-radius:var(--main-radius);
	padding-top:var(--main-padding);
}


  #content1 {
	grid-area:content1;
	border-radius:var(--main-radius);
	padding-top:var(--main-padding);
  }
  #content2 {
	grid-area:content2;
	border-radius:var(--main-radius);
	padding-top:var(--main-padding);
  }
  #content3 {
	grid-area:content3;
	border-radius:var(--main-radius);
	padding-top:var(--main-padding);
  }
  #hobby1 {
	grid-area:hobby1;
	border-radius:var(--main-radius);
	padding-top:var(--main-padding);
  }
  #hobby2 {
	grid-area:hobby2;
	border-radius:var(--main-radius);
	padding-top:var(--main-padding);
  }
  #hobby3 {
	grid-area:hobby3;
	border-radius:var(--main-radius);
	padding-top:var(--main-padding);
  }
  #hobby4 {
	grid-area:hobby4;
	border-radius:var(--main-radius);
	padding-top:var(--main-padding);
  }
  #hobby5 {
	grid-area:hobby5;
	border-radius:var(--main-radius);
	padding-top:var(--main-padding);
  }
  
  #hobby6 {
	grid-area:hobby6;
	border-radius:var(--main-radius);
	padding-top:var(--main-padding);
  }

  #hobbybild1 {
	grid-area:hobbybild1;
	border-radius:var(--main-radius);
	padding-top:var(--main-padding);
  }
  #hobbybild2 {
	grid-area:hobbybild2;
	border-radius:var(--main-radius);
	padding-top:var(--main-padding);
  }

  #hobbybild3 {
	grid-area:hobbybild3;
	border-radius:var(--main-radius);
	padding-top:var(--main-padding);
  }

  #hobbybild4 {
	grid-area:hobbybild4;
	border-radius:var(--main-radius);
	padding-top:var(--main-padding);
  }

  #hobbybild5 {
	grid-area:hobbybild5;
	border-radius:var(--main-radius);
	padding-top:var(--main-padding);
  }

  #hobbybild6 {
	grid-area:hobbybild6;
	border-radius:var(--main-radius);
	padding-top:var(--main-padding);
  }
  
  @media only screen and (max-width:550px) {

	.container1 {
		margin: 0px 25px 0px 35px;
	  grid-template-columns:1fr;
	  grid-template-rows:0.4fr 0.4fr 0.4fr;
	  grid-template-areas:
		"content1"
		"content2"
		"content3"
	} 

	.container2 {
	  text-align: center;
	  width: 80%;
	  grid-template-columns:1fr;
	  grid-template-rows:repeat(12,1fr);
	  grid-template-areas:
		"hobbybild1"
		"hobby1"
		"hobbybild2"
		"hobby2"
		"hobbybild3"
		"hobby3"
		"hobbybild4"
		"hobby4"
		"hobbybild5"
		"hobby5"
		"hobbybild6"
		"hobby6";
  }

  .container2 img {
	height:170px;
	width:170px;
	border-radius:50%;
}

  #tom1, #tom2, #tom3, #tom4, #tom5, #tom6,#tom7, #tom8, #tom9, #tom10, #tom11, #tom12 {
	  visibility: hidden;
  }
}
  
/*typsnitt-ish*/
h1 {
	color: black;
	font-size: 80px;
}

h2 {
	color: black;
	font-size: 60px;
}

h3 {
	color: black;
	size: 40px;
	text-align: center;
	line-height: 50px;
}

h4 {
	font-size: 15px;
	color: black;
	line-height:1px;
}

h5 {
	font-size: 15px;
	text-align: left;
	color:black;
	line-height:8px;
}

.p {
	font-weight: lighter;
	size: 12px;
}

/*pilen nedåt*/
.pil:hover {
    font-weight: lighter;
    text-align:center;
    animation-name: pilen;
	animation-duration: 2s;
}

@keyframes pilen {
	20% {transform: translateY(-8px);}
	40% {transform:translateY(12px);}
	60% {transform:translateY(-4px);}
	80% {transform: translateY(12px);}
	100% {transform:translateY(0px);}
}

.pil {
text-align: center;
padding: 100px 0px 0px 0px;
}